<div class="auth-user">
  <h2 id="sign-up-link" class="clickable-links">Sign Up</h2>
  <h2 id="log-in-link" class="clickable-links">Log in</h2>
</div>

<form id="sign-up-form">
  <label>Name:</label>
  <input id="signup-name">
  <label>Email:</label>
  <input id="signup-email" type="email" />
  <label>Password:</label>
  <input id="signup-password" type="password" />
  <label>Password Confirmation:</label>
  <input id="signup-password-confirmation" type="password" />
  <button id="sign-up" class="submit clickable-buttons">Sign up</button>
</form>

<form id="log-in-form">
  <label>Email:</label>
  <input id="login-email" type="email" />
  <label>Password:</label>
  <input id="login-password" type="password" />
  <button id="log-in" class="submit clickable-buttons">Log in</button>
</form>

<button id='log-out' class="submit">Log Out</button>
<div class="list-songs clickable-links">Song History</div>
<div class="page-header">
  <h1>Make a beat</h1>
  <h4>click + to add a track</h4>
  <h4>click any box you wish to play, and then press the play icon</h4>
  <h4>click x to remove a track</h4>
  <!-- <button id="start-pause-timer" class="clickable-buttons">Start Timer</button> -->
<!--   <button id="reset-timer" class="clickable-buttons">Reset Timer</button> -->
</div>

<script>
  window.soundURLs = <%= raw(@sounds.to_json) %>
</script>

<!-- Got to this URL for more information about styling the slider 
  http://api.jqueryui.com/slider/ -->
<section class="bpm" id="BPM-controls">
  <div id="slider"></div>
  <div id="display"></div>
</section>

<div class="save-song">
  <form>
     <label>Song Name</label>
     <input id="song-title"></input>
     <input type="submit" id="save" class="clickable-buttons button"></input>
   </form>
</div>

<div class="sequencer-wrapper">
  <div class="suite-wrapper">
    <div class="column" id="drop-column"></div>
  </div>

  <section id="controls">
    <div class="iconmelon">
      <svg class="add-row" viewBox="0 0 32 32">
        <use xlink:href="#plus"></use>
      </svg>
    </div>

    <div class="iconmelon reset">
      <svg viewBox="0 0 32 32">
        <use xlink:href="#close"></use>
      </svg>
    </div>


    <div class="iconmelon" id="start-pause-timer">
      <svg viewBox="0 0 32 32">
        <use xlink:href="#play-pause1"></use>
      </svg>
    </div>

    <div class="iconmelon reset-timer">
      <svg viewBox="0 0 32 32">
        <use xlink:href="#rotate"></use>
      </svg>
    </div>
  </section>
</div>


