<header id="nav-bar"></header>

<h1>Let's Get Weird</h1>

<button id="start-pause-timer">Start Timer</button>
<button id="reset-timer">Reset Timer</button>

<script>
  window.fileNames = <%= raw(@sounds.to_json) %>
</script>

<form id="tempo">
  <input name="BPM"
         type="number"
         min="20"
         max="240"
         step="1"
         value="120">
  <input type="submit" value="Set BPM">
</form>

<%= @buckets %>
<br>

<div class="sequencer-wrapper">

  <div class="suite-wrapper">
    <div class="column" id="drop-column">
  </div>

</div>

