

<h1>Let's Get Weird</h1>

<button id="start-timer">Start Timer</button>
<button id="pause-timer">Pause Timer</button>
<button id="reset-timer">Reset Timer</button>

<script>
  window.fileNames = <%= raw(@sounds.to_json) %>
</script>

<form id="tempo">
  <input name="BPM"
         type="number"
         min="20"
         max="240"
         step="1"
         value="120">
  <input type="submit" value="Set BPM">
</form>

<%= @buckets %>
<br>

<div class="sequencer-wrapper">
<div class="sound-selection">

<!-- will need to update class="row" to be dyanmic -->

  <select class="row0", name="row0">
  </select>
  <select class="row1", name="row1">
  </select>

</div>

<div class="suite-wrapper">
  <div class="column" id="column0">
    <div class="note"></div>
    <div class="note"></div>
    <div class="note"></div>
    <div class="note"></div>
  </div>
  <div class="column" id="column1">
    <div class="note"></div>
    <div class="note"></div>
    <div class="note"></div>
    <div class="note"></div>
  </div>
  <div class="column" id="column2">
    <div class="note"></div>
    <div class="note"></div>
    <div class="note"></div>
    <div class="note"></div>
  </div>
  <div class="column" id="column3">
    <div class="note"></div>
    <div class="note"></div>
    <div class="note"></div>
    <div class="note"></div>
  </div>
</div>

</div>

