/*SWEET STYLIN'*/

body {
  background-color: #0B486B;
  font-family: "Bodoni MT";
}


/*
Quite certain this means nothing. 
.page-wrapper {
  position: relative;
}*/

.page-header {
  margin-bottom: 3em;
}

.auth-user{
  color: white;
  cursor: pointer;
  font-family: Helvetica;
  border-bottom: .1em solid white;

}
.auth-user h2 {
  margin-left: .5em;
  line-height: 1.5em;
  font-weight: 200;
  display: inline;
}

 #log-in-form {
  display: none;
}
#sign-up-form {
  display: none;
}

.bpm {
  color:white;
  display: block;
}

#slider, #display {
  display: inline-block;
  margin-left: 1em;
}

#display {
  font-size: 2em;
}

div#slider a.ui-slider-handle {
  border-radius: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
}

div.ui-slider-horizontal {
  height: .4em;
  margin-bottom: .3em;
}

h1 {
  font-size: 3em;
}

h1, h3 {
  color: #79BD9A;
  letter-spacing: .07em;
  margin-left: .4em;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
}

h3 {
  margin-right: .5em;
}

input {
  background-color: #79BD9A;
  border: none;
  border-radius: .2em;
  margin-left: .5em;
  margin-right: 1em;
  width: 8em;
  color: white;
}

form {
  margin-left: 1em;
  margin-top: .5em;
}

form label {
  font-size: 1.2em;
}

button, .button {
  border: none;
  color: white;
  background-color: #79BD9A;
  padding: .5em 1em;
  border-radius: .5em;
  font-weight: 200;
  margin-left: 1em;
  font-family: helvetica;
}

label {
  color: white;
}

.page-overlay {
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  margin-top: -1.5em;
  position: fixed;
  background-color: rgba(0,0,0,.7);
}

.exit-button {
  float: left;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(215, 47, 50);
  border-radius: 2em;
  color: white;
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
  font-family: helvetica;
  line-height: 1.5em;
  margin: 1.75em .7em;
  cursor: pointer;
}

.all-sounds {
  width: 60%;
  height: 75%;
  margin: 5em auto;
  color: white;
  background-color: #0B486B;
  border-radius: 1em;
  border: .2em solid rgb(131, 131, 151);
  overflow: scroll;
  z-index: 20;
}

li {
  list-style-type: none;
  line-height: 2em;
  font-size: 2em;
  cursor: pointer;
}

li.sound-choices {
  font-weight: 100;
}

.sequencer-wrapper {
  display: block;
  margin: 1em;
  position: absolute;
}

.sound-selection {
  display: inline;
  width: 1em;
  float: left;
}

.suite-wrapper {
  display: inline;
  width: 100%;
  float: left;
  background-color: #0B486B;
  margin: 1em;
}

.add-row {
  color: white;
  font-size: 3.2em;
  border: .1em solid white;
  width: 1.2em;
  border-radius: 50%;
  text-align: center;
  line-height: 1em;
  padding-bottom: .2em;
  margin-left: .25em;
  cursor: pointer;
  position: relative;
  display: inline-block;
  -webkit-transition: color .1s ease-out .1s;
     -moz-transition: color .1s ease-out .1s;
       -o-transition: color .1s ease-out .1s;
          transition: color .1s ease-out .1s;
}

.add-row:hover {
  border: .1em solid #99D4F6;
  color: #BD4D40;
}

.sound-title {
  display: block;
  margin-bottom: -.5em;
  margin-right: .5em;
  /*margin-top: -.05em;*/
  cursor: pointer;
  color: #A8DBA8;

}

.remove-row {
  color: white;
  font-size: 1em;
  border: .1em solid white;
  width: 1.2em;
  border-radius: 50%;
  text-align: center;
  /*line-height: 1em;*/
  padding-bottom: .2em;
  margin-left: 1em;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.column {
  float: left;
}

.sequencer-column {
  float: left;
}

.note {
  width: 5em;
  height: 5em;
  display: block;
  background-color: #3B8686;
  border: .25em solid black;
  border-radius: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selected {
  background-color: #703832;
}

.in-time {
  background-color: #A8DBA8;
}

.selected.in-time {
  background-color: #BD4D40;
}

.unicorn {
  position: absolute;
  display: none;
  margin-top: 5em;
  z-index: 10;
}

.show-and-hide {
  display: block;
  float: left;
  position: fixed;
  bottom: 0;
}

.list-songs {
  top: -10em;
  float: right;
  color: white;
  font-size: 2em;
  font-family: helvetica;
  padding-right: 2em;
  cursor: pointer;
}


.clickable-links {
  -webkit-transition: color .1s ease-out .1s;
     -moz-transition: color .1s ease-out .1s;
       -o-transition: color .1s ease-out .1s;
          transition: color .1s ease-out .1s;
}

.clickable-links:hover {
  color: #99D4F6;
}

.clickable-buttons {
  -webkit-transition: color .1s ease-out .1s;
     -moz-transition: color .1s ease-out .1s;
       -o-transition: color .1s ease-out .1s;
          transition: color .1s ease-out .1s;
}

.clickable-buttons:hover {
  color: #0B486B;
}

