/*SWEET STYLIN'*/

.sequencer-wrapper {
  position: absolute;
  display: block;
  width: 200%;
  margin: 1em;
}

.sound-selection {
  display: inline;
  width: 1em;
  float: left;
}

.row {
  margin-bottom: 6em;
}

.suite-wrapper {
  display: inline;
  width: 200%;
  float: left;
  background-color: orange;
}

.drop-down {
  display: block;
  margin-bottom: 6em;
}

.column {
  float: left;
}

.note {
  width: 5em;
  height: 5em;
  display: block;
  background-color: red;
  border: .25em solid black;
  border-radius: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selected {
  background-color: blue;
}

.in-time {
  background-color: green;
}

.selected.in-time {
  background-color: rgb(3,61,3);
}



