   .sequencer-wrapper {
    position: relative;
    display: block;
    margin: 1em;
  }

  .sound-selection {
    display: inline-block;
    width: 10%;
    float: left;
  }

  .suite-wrapper {
    display: inline;
    width: 30em;
    float: left;
  }

  .column {
    float: left;
    background-color: gray;
  }

  .note {
    width: 5em;
    height: 5em;
    display: block;
    background-color: red;
    border: .25em solid black;
    border-radius: 1em;
  }

  .selected {
    background-color: blue;
  }

  .loop-timer {
    background-color: green;
  }

  .selected.loop-timer {
    background-color: rgb(3,61,3);
  }



